<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Steve</title>
</head>
<body>
    <p>
        Steve Thomas Lacy-Moya (born May 23, 1998) is an American musician, singer, songwriter, and record producer. He was born in Compton, California, and gained recognition as the guitarist of the R&B group the Internet in 2015. In 2017, Lacy released his debut EP, a song-series, titled Steve Lacy's Demo. His debut album, Apollo XXI, was released in May 2019
    </p>
    <a href="/home">Back to Home</a>
</body>
</html>